
/* *{
  box-sizing: border-box;
} */

body {
  background: #dfd29c;
  color: #292828;
  font-family: Helvetica, Arial, sans-serif;
}

.fill {
  background-image: url("../RWB_Stadion.svg");
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px darkblue solid;
  background-color: white;
}

.hold {
  border: solid #bbb 4px;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

#gameboard {
  background-color: rgba(253, 255, 252, 0.1);
}
/*#gameboard .row div {
  text-align: center;
}
#gameboard div.col-xs-3 {
  width: 33%;
}*/